.parallaxContainer {
  display: flex;
  padding-top: 2000px;
  background-color: white;
  height: 550vh;
  width: 100%;
}
.car {
  height: 100%;
  width: 100%;
}
.carBody {
  background: url(../assets/car\ frame.png) no-repeat center;
  height: 84px;
  width: 292px;
  display: flex;
  justify-content: center;
}
.carWheelsContainer {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 85%;
  padding-top: 54px;
  margin-left: 6.8px;
}
.carTireLeft,
.carTireRight {
  background: url(../assets/car\ wheel.png) no-repeat center;
  width: 50px;
  height: 50px;
}
.carTireLeft {
  margin-left: 6.5px;
}